body {
  max-width: 800px;
  margin: auto;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

#slide {
  width: 100%;
  border: solid;
  border-width: 1px;
  color: lightgray;
  display: inline-block;
}

#video {
  width: 30%;
  border: solid;
  border-width: 1px;
  color: lightgray;
  display: inline-block;
  float: right;
}

#server-params {
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 20px;
}

input {
  display: inline-block;
  width: 100%;
}
